[Unit]
Description=NoteBook FanControl service
DefaultDependencies=false
Before=basic.target sysinit.target
Wants=local-fs.target
After=local-fs.target

[Service]
ExecStart=/bin/nbfc start
ExecStop=/bin/nbfc stop
Type=forking
PIDFile=/run/nbfc_service.pid
TimeoutStartSec=40
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=sysinit.target
